* {
    box-sizing: border-box;
}

body {
    margin: 0;
    height: 100vh;
}

/* COOKIES */
#div-cookies {
    display: flex;
    flex-direction: column;
    position: fixed;
    bottom: 50%;
    width: 80%;
    left: 10%;
    background-color: rgb(208, 240, 208);
    box-shadow: 0px -5px 15px gray;
    padding: 7px;
    text-align: center;
    z-index: 99;
    opacity: 0.8;
}

#div-cookies>button {
    background-color: rgb(167, 167, 250);
    border-radius: 10px;
    width: 10rem;
    align-self: end;
    color: white;

}

/* ---- HEADER ---- */
header {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    text-align: center;
    z-index: 50;
    background-color: white;
    position: sticky;
    top: 0;
    z-index: 999;
    width: 100%;
}

header>div.icons {
    padding-top: 30px;
    padding-right: 30px;
}

header>div.icons i {
    color: #3B9E2D;
    font-size: 18px;
    padding: 0 5px;
}

/*Cuando hacemos scroll fijamos*/
.menu_fijo {
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 5;
}

/*  Menú  */

.header-fijo {
    position: fixed;
    width: 100%;
    z-index: 999;
    top: 0;
    left: 0;
}

header>#sidebar {
    position: fixed;
    width: 200px;
    height: 100%;
    background: #787575;
    left: -200px;
    transition: all 0.5s ease;
    z-index: 1;
}

header>#sidebar.active {
    left: -40px;
}


header>#sidebar>ul li {
    color: white;
    list-style: none;
    padding: 15px 10px;
    border-bottom: 1px solid rgba(230, 230, 230, 0.3);
    text-align: center;
    transition: all 0.5s ease;
}

header>#sidebar>.toggle-btn {
    position: absolute;
    left: 200px;
    top: 20px;
    cursor: pointer;
}


header>#sidebar>.toggle-btn span {
    display: block;
    color: #787575;
    width: 40px;
    text-align: center;
    font-size: 30px;
}

header>#sidebar>ul>a {
    text-decoration: none;
}

.oscuro {
    opacity: 0.5;
}

/*  Logo  */
header>picture>a>img {
    width: 200px;
    height: 75px;
}

header>picture {
    margin-left: 39%;
    max-height: 75px;
}

/* ---- MAIN ---- */
main {
    min-height: 70.03vh;
    display: flex;
    flex-flow: row wrap;
    flex: 0 100%;
    align-items: center;
    font-family: 'Karla', sans-serif;
}

main>* {
    margin: 1rem 0;
    flex: 0 100%;
}

main>form {
    margin-top: 5vh;
}

main > h3{
    text-align: center;
}

main > div.desc{
    text-align: center;
}

main > div.aten{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main > div.aten > h2{
    margin-bottom: 2rem;
}

main > div.aten > div.elementos{
    background-color: #e3f4e1;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    padding: 2rem;
}

main > div.aten > div.elementos > div.elemento{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

div.enlac > button{
    height: 3em;
    border: 0px;
    color: white;
    border-radius: 10px;
    padding: 0 2em;
    margin: 3em 0 1em;
    background-color: #3B9E2D;
    cursor: pointer;
}

div.enlac > button > a{
    color: white;
    text-decoration: none;
}

/*REPRODUCTOR*/

main>video {
    border: .5rem solid black;
    border-radius: 1rem;
    display: flex;
    flex: 0 100%;
    width: 80vw;
}

main>div#info {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
    padding: 1rem 0;
    border: .05rem solid #3B9E2D;
    border-radius: .3rem;
    background-color: #3B9E2D;
}

main>div#controles {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    padding: 1rem 0;
    border: .05rem solid #3B9E2D;
    border-radius: .3rem;
    background-color: #3B9E2D;
}

main>div#controles>img {
    cursor: pointer;
}

main>div#controles>* {
    margin-top: .3rem;
}

main>div#info>input#barraTiempo {
    flex: 0 70%;
}

main>div>* {
    margin: 0 .5rem;
}

main button {
    border: 0;
    background-color: #3B9E2D;
    padding: 0;
    transition: .3s linear;
}

main button.volumen {
    border: .05rem solid #3B9E2D;
    border-radius: 2rem;
    padding: .2rem;
    font-size: 1.5rem;
}

main button:hover {
    cursor: pointer;
    transform: scale(1.1, 1.1);
}

input[type=range] {
    -webkit-appearance: none;
}

input[type=range]::-moz-range-runnable-track {
    width: 500px;
    height: 5px;
    background: #3B9E2D;
    border: none;
    border-radius: 3px;
}

input[type=range]::-webkit-slider-runnable-track {
    width: 500px;
    height: 5px;
    background: lightblue;
    border: none;
    border-radius: 3px;
}

input[type=range]::-moz-range-thumb {
    -webkit-appearance: none;
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: lightcyan;
    margin-top: -5px;
    transition: .2s linear;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: lightcyan;
    margin-top: -5px;
    transition: .2s linear;
}

input[type=range]::-moz-range-thumb:hover {
    cursor: pointer;
    transform: scale(1.3, 1.3);
}

input[type=range]::-webkit-slider-thumb:hover {
    cursor: pointer;
    transform: scale(1.3, 1.3);
}

/*  Cabecera "CIUDADES"  */
main>div.ciudades {
    display: flex;
    font-family: 'Karla', sans-serif;
    justify-content: center;
    align-items: center;
    color: white;
    width: 100%;
    height: 28px;
    background-color: #787575;
}

/*  Section, ciudades e imágenes  */
main>section.imagenes {
    display: flex;
    flex-direction: column;
    padding: 2rem 2rem 5rem 2rem;
}

main>section.imagenes>article.ciudad {
    padding: 1rem;
    font-family: 'Rubik', sans-serif;
    text-align: center;
}

main>section.imagenes>article.ciudad > span {
    position: relative;
    width: 100%;
    top: 30px;
    z-index: 1;
}

main>section.imagenes>article.ciudad > span.osc {
    position: relative;
    top:50px;
    opacity: 0.5;
    background-color: grey;
    height: 31px;
}

main>section.imagenes>article.ciudad>picture>a>img {
    max-width: 100%;
}

/* ---- FOOTER ---- */

footer {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 10rem;
    font-family: 'Rubik', sans-serif;
    background: linear-gradient(to right, #787575, #1f1f1f);
}

/*  Síguenos y RRSS  */
footer>div.redes {
    display: flex;
    flex-direction: column;
    color: white;
    height: 50%;
    padding: 1rem;
}

footer>div.redes>span {
    text-align: center;
    padding-bottom: 1rem;
}

/*  Iconos RRSS  */
footer>div.redes>div.rrss {
    display: flex;
    width: 100%;
    justify-content: space-around;
}

/*  Tamaño iconos  */
footer>div.redes>div.rrss>i {
    font-size: 24px;
    margin: 0 8px;
    cursor: pointer;
}

/*  Sub-footer  */
footer>div.sub-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50%;
    justify-content: center;
}

/*  Elementos individuales sub-footer*/
footer div.sub-footer a {
    display: inline-block;
    padding: 8px 16px;
    margin: 0 8px;
    border: 1px solid white;
    border-radius: 4px;
    text-decoration: none;
    color: white;
    transition: background-color 0.3s ease;
}

footer div.sub-footer a:hover {
    background-color: white;
    color: #787575;
}

footer>div.redes>div.rrss>i {
    transition: all 0.5s ease;
}



/* ---- DEPORTES ---- */
/*
main>div.formulario {
    display: flex;
    height: 38px;
}
*/
main>div.formulario>a {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3B9E2D;
    color: white;
    border-radius: 10px;
    border: 1px solid #787575;
    font-family: 'Karla', sans-serif;
    justify-content: center;
    cursor: pointer;
    text-decoration: none;
}

main>picture>img {
    width: 100%;
    position: relative;
}

main>div.subtitulo {
    position: absolute;
    display: flex;
    text-align: center;
    flex-direction: column;
    width: 100%;
    top: 100px;
    font-family: 'Rubik', sans-serif;
}

main>div.subtitulo>span.neg {
    font-weight: bold;
    color: #3B9E2D;
    height: 30px;
}

main>div.subtitulo>div.deportessub {
    color: white;
}



/* ---- FÚTBOL 11 ---- */
main>div.subheader {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3B9E2D;
    color: white;
    height: 70px;
    width: 100%;
    font-family: 'Rubik', sans-serif;
}

main>section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Karla', sans-serif;
}

main>section>article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    width: 100%;
}

main>section>article>div.fecha {
    font-weight: bold;
    margin-bottom: 0.5rem;
}

main>section>article>div.lugares {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

main>section>article>div.lugares>div.evento {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 1.5rem;
    width: 100%;
    background-color: #9FFF90;
    border-radius: 10px;
    margin-bottom: 0.5rem;
    cursor: pointer;
    transition: 0.5s all ease;
}

main>section>article>div.lugares>div.evento>div.mayus {
    font-weight: bold;
    margin-left: 1rem;
}

main>section>article>div.lugares>div.evento>div.fechas {
    margin-right: 1rem;
}

main>section>article>div.lugares>div.evento>div.fechas>span {
    padding-left: 0.5rem;
}

main>section>article>div.lugares>div.evento>div.fechas>span:last-child {
    font-weight: bold;
}

/*  Colores  */
main>section>article>div.lugares>div.green {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 1.5rem;
    width: 100%;
    background-color: #54FF84;
    border-radius: 10px;
    margin-bottom: 0.5rem;
    cursor: pointer;
    transition: 0.5s all ease;
}

main>section>article>div.lugares>div.green>div.mayus {
    font-weight: bold;
    margin-left: 1rem;
}

main>section>article>div.lugares>div.green>div.fechas {
    margin-right: 1rem;
}

main>section>article>div.lugares>div.green>div.fechas>span {
    padding-left: 0.5rem;
}

main>section>article>div.lugares>div.green>div.fechas>span:last-child {
    font-weight: bold;
}

/*----------*/

main>section>article>div.lugares>div.green {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 1.5rem;
    width: 100%;
    background-color: #54FF84;
    border-radius: 10px;
    margin-bottom: 0.5rem;
}

main>section>article>div.lugares>div.green>div.mayus {
    font-weight: bold;
    margin-left: 1rem;
}

main>section>article>div.lugares>div.green>div.fechas {
    margin-right: 1rem;
}

main>section>article>div.lugares>div.green>div.fechas>span {
    padding-left: 0.5rem;
}

main>section>article>div.lugares>div.green>div.fechas>span:last-child {
    font-weight: bold;
}

/*------------*/

main>section>article>div.lugares>div.brown {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 1.5rem;
    width: 100%;
    background-color: #EBB069;
    border-radius: 10px;
    margin-bottom: 0.5rem;
    cursor: pointer;
    transition: 0.5s all ease;
}

main>section>article>div.lugares>div.brown>div.mayus {
    font-weight: bold;
    margin-left: 1rem;
}

main>section>article>div.lugares>div.brown>div.fechas {
    margin-right: 1rem;
}

main>section>article>div.lugares>div.brown>div.fechas>span {
    padding-left: 0.5rem;
}

main>section>article>div.lugares>div.brown>div.fechas>span:last-child {
    font-weight: bold;
}

/*------------*/

main>section>article>div.lugares>div.blue {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 1.5rem;
    width: 100%;
    background-color: #5DB0FD;
    border-radius: 10px;
    margin-bottom: 0.5rem;
    cursor: pointer;
    transition: 0.5s all ease;
}

main>section>article>div.lugares>div.blue>div.mayus {
    font-weight: bold;
    margin-left: 1rem;
}

main>section>article>div.lugares>div.blue>div.fechas {
    margin-right: 1rem;
}

main>section>article>div.lugares>div.blue>div.fechas>span {
    padding-left: 0.5rem;
}

main>section>article>div.lugares>div.blue>div.fechas>span:last-child {
    font-weight: bold;
}

/*------------*/

main>section>article>div.lugares>div.red {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 1.5rem;
    width: 100%;
    background-color: #EB7169;
    border-radius: 10px;
    margin-bottom: 0.5rem;
    cursor: pointer;
    transition: 0.5s all ease;
}

main>section>article>div.lugares>div.red>div.mayus {
    font-weight: bold;
    margin-left: 1rem;
}

main>section>article>div.lugares>div.red>div.fechas {
    margin-right: 1rem;
}

main>section>article>div.lugares>div.red>div.fechas>span {
    padding-left: 0.5rem;
}

main>section>article>div.lugares>div.red>div.fechas>span:last-child {
    font-weight: bold;
}

/* -- Participantes -- */
main>div.grey {
    background-color: #D9D9D9;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 327.35px;
    font-weight: bold;
}

main>div.even {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    font-family: 'Rubik', sans-serif;
    font-weight: bold;
}

main>div.iniciar {
    display: flex;
    justify-content: center;
    height: 38px;
    margin: 1rem;
}

main>div.iniciar>a {
    width: 50%;
    height: 100%;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3B9E2D;
    color: white;
    border-radius: 10px;
    border: 1px solid #787575;
    font-family: 'Karla', sans-serif;
    justify-content: center;
    cursor: pointer;
    transition: all 0.5s ease;
}

main>div.plazas {
    font-family: 'Rubik', sans-serif;
    text-align: center;
    padding: 1rem;
    font-weight: bold;
}

main>div.lista {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    font-family: 'Rubik', sans-serif;
}

main>div.lista>div.par {
    display: flex;
    justify-content: space-between;
    padding: 0 1rem;
}

main>div.lista>div.par>div.participante {
    display: flex;
    align-items: center;
    padding: 1rem 0;
}

main>div.lista>div.par>div.participante>img {
    width: 60px;
    height: 60px;
    margin-right: 0.5rem;
    padding: 0rem;
    font-size: 0.9rem;
    border-radius: 50%;
    transition: all 1s ease;
}

div.formulario>div.campos {
    margin-bottom: 1rem;
}

/*---- Aviso legal ----*/
main>div#texto {
    font-family: 'Karla', sans-serif;
    text-align: center;
    padding: 1.5rem;
}

/*---- Registro ----*/
main>div.formulario {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 70vw;
}

main>div.formulario>div.campos {
    max-width: 110vw;
}

main>div.formulario>div.campos>input {
    width: 30em;
    height: 3em;
    margin: 5px;
    padding-left: 2em;
    border: 0px;
    box-shadow: 0px 1px 7px 0px rgba(0, 141, 19, 0.3)
}

/*Control de errores en form*/
main>div.formulario>div.campos>span.usuario {
    color: red;
    font-size: 1rem;
    padding-top: 0.3rem;
    margin-bottom: 0.9rem;
    visibility: hidden;
}

main>div.formulario>div.campos>span.clave {
    color: red;
    font-size: 1rem;
    padding-top: 0.3rem;
    margin-bottom: 0.9rem;
    visibility: hidden;
}

main>div.formulario>div.campos>span.nombre {
    color: red;
    font-size: 1rem;
    padding-top: 0.3rem;
    margin-bottom: 0.9rem;
    visibility: hidden;
}

main>div.formulario>div.campos>span.apellidos {
    color: red;
    font-size: 1rem;
    padding-top: 0.3rem;
    margin-bottom: 0.9rem;
    visibility: hidden;
}

main>div.formulario>div.campos>span.direccion {
    color: red;
    font-size: 1rem;
    padding-top: 0.3rem;
    margin-bottom: 0.9rem;
    visibility: hidden;
}

main>div.formulario>div.campos>span.fecha {
    color: red;
    font-size: 1rem;
    padding-top: 0.3rem;
    margin-bottom: 0.9rem;
    visibility: hidden;
}

main>div.formulario>div.campos>span.email {
    color: red;
    font-size: 1rem;
    padding-top: 0.3rem;
    margin-bottom: 0.9rem;
    visibility: hidden;
}

main>div.formulario>div.campos>input::placeholder {
    color: #acacac;
    font-size: 1em;
    padding: 20px;
}

main>div.formulario>div.campos>input:focus {
    outline: none;
    background-color: rgba(0, 141, 19, 0.3);
}

main>div.formulario>div.campos>input:focus::placeholder {
    color: black;
    padding-left: -22em;
}

main>div.formulario>div.boton>button {
    height: 3em;
    border: 0px;
    color: white;
    border-radius: 10px;
    padding: 0 2em;
    margin: 3em 0 1em;
    background-color: #3B9E2D;
    cursor: pointer;
}

main>div.formulario>div.no_registro>a {
    cursor: pointer;
    font-weight: bold;
    margin: 2em 0;
}

main.inicio_sesion {
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer.reg {
    margin-top: 40px;
}


/*Ventana CHAT*/
.kdKNhs {
    visibility: hidden;
}

/*SLIDER*/
.slider-frame {
    width: 95.5vw;
    height: auto;
    margin: 50px auto 0;
    overflow: hidden;
    margin-top: 0;
}

.slider-frame ul {
    display: flex;
    padding: 0;
    width: 400%;

    animation: slide 20s infinite alternate ease-in-out;
}

.slider-frame li {
    width: 100%;
    list-style: none;
}

.slider-frame img {
    width: 100%;
}

@keyframes slide {
    0% {
        margin-left: 0;
    }

    20% {
        margin-left: 0;
    }

    25% {
        margin-left: -100%;
    }

    45% {
        margin-left: -100%;
    }

    50% {
        margin-left: -200%;
    }

    70% {
        margin-left: -200%;
    }

    75% {
        margin-left: -300%;
    }

    100% {
        margin-left: -300%;
    }
}

/*Volver arriba*/
a#go-up {
    position: fixed;
    right: 15px;
    bottom: 15px;
    display: none;
}

a#go-up>i {
    font-size: 2rem;
}

a#go-up>i:hover {
    cursor: pointer;
}

div#chat {
    display: none;
    z-index: -1;
}




/* VERSIÓN TABLET */
@media all and (min-width: 600px) {

    header {
        display: flex;
        max-height: 90px;
        max-width: 100%;
    }

    main>section {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        font-family: 'Karla', sans-serif;
    }

    main>section>article {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 1rem;
        width: 50%;
    }

    /*Ventana CHAT*/
    .kdKNhs {
        visibility: visible;
    }

    /*SLIDER*/
    .slider-frame {
        width: 95.5vw;
        height: auto;
        margin: 50px auto 0;
        overflow: hidden;
        margin-top: 0;
    }

    .slider-frame ul {
        display: flex;
        padding: 0;
        width: 400%;

        animation: slide 20s infinite alternate ease-in-out;
    }

    .slider-frame li {
        width: 100%;
        list-style: none;
    }

    .slider-frame img {
        width: 100%;
    }

    @keyframes slide {
        0% {
            margin-left: 0;
        }

        20% {
            margin-left: 0;
        }

        25% {
            margin-left: -100%;
        }

        45% {
            margin-left: -100%;
        }

        50% {
            margin-left: -200%;
        }

        70% {
            margin-left: -200%;
        }

        75% {
            margin-left: -300%;
        }

        100% {
            margin-left: -300%;
        }
    }

    main>div.iniciar {
        display: flex;
        justify-content: center;
        height: 38px;
        margin: 1rem;
    }

    main>div.iniciar>a {
        width: 10rem;
        height: 100%;
        text-decoration: none;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #3B9E2D;
        color: white;
        border-radius: 10px;
        border: 1px solid #787575;
        font-family: 'Karla', sans-serif;
        justify-content: center;
        cursor: pointer;
    }

    /*---- Registro ----*/
    main>div.formulario {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    main>div.formulario>div.campos {
        max-width: 30vw;
        margin-right: 8em;
    }

}

/* VERSIÓN ESCRITORIO */
@media all and (min-width: 1100px) {

    /*Header*/
    header>picture {
        margin-left: 47%;
        max-height: 75px;
    }

    /*Main index*/
    main > h3{
        text-align: center;
    }
    
    main > div.desc{
        text-align: center;
    }
    
    main > div.aten{
        display:flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    main > div.aten > h2{
        margin-bottom: 2rem;
    }
    
    main > div.aten > div.elementos{
        background-color: #e3f4e1;
        display:flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        border-radius: 10px;
        padding: 2rem;
        margin: 1rem;
        width: 80vw;
    }
    
    main > div.aten > div.elementos > div.elemento{
        display:flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin:1rem;
    }

    /*SLIDER*/
    .slider-frame {
        width: 95.5vw;
        height: auto;
        margin: 50px auto 0;
        overflow: hidden;
        margin-top: 0;
    }

    .slider-frame ul {
        display: flex;
        padding: 0;
        width: 400%;

        animation: slide 20s infinite alternate ease-in-out;
    }

    .slider-frame li {
        width: 100%;
        list-style: none;
    }

    .slider-frame img {
        width: 100%;
    }

    @keyframes slide {
        0% {
            margin-left: 0;
        }

        20% {
            margin-left: 0;
        }

        25% {
            margin-left: -100%;
        }

        45% {
            margin-left: -100%;
        }

        50% {
            margin-left: -200%;
        }

        70% {
            margin-left: -200%;
        }

        75% {
            margin-left: -300%;
        }

        100% {
            margin-left: -300%;
        }
    }

    main>div.lista {
        display: flex;
        flex-direction: column;
        padding: 1rem;
        font-family: 'Rubik', sans-serif;
    }

    main>div.lista>div.par {
        display: flex;
        justify-content: space-around;
        padding: 0 1rem;
    }

    main>div.lista>div.par>div.participante {
        display: flex;
        align-items: center;
        padding: 1rem 0;
    }

    main>div.lista>div.par>div.participante>span.circulo {
        width: 50px;
        height: 50px;
        background-color: #D9D9D9;
        margin-right: 0.5rem;
        border-radius: 50%;
    }

    main>div.iniciar {
        display: flex;
        justify-content: center;
        height: 38px;
        margin: 1rem;
    }

    main>div.iniciar>a {
        width: 10rem;
        height: 100%;
        text-decoration: none;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #3B9E2D;
        color: white;
        border-radius: 10px;
        border: 1px solid #787575;
        font-family: 'Karla', sans-serif;
        justify-content: center;
        cursor: pointer;
    }

    /*Volver arrba*/
    a#go-up {
        position: fixed;
        right: 35px;
        bottom: 25px;
        display: none;
    }

    a#go-up>i {
        font-size: 4rem;
    }

    a#go-up>i:hover {
        cursor: pointer;
    }

    main>picture>img {
        width: 80%;
        height: 80%;
        margin-left: 10%;
        position: relative;
    }

    main>div.subtitulo {
        position: absolute;
        display: flex;
        text-align: center;
        flex-direction: column;
        width: 100%;
        top: 140px;
        font-family: 'Rubik', sans-serif;
    }

    main>div.subtitulo>span.neg {
        font-weight: bold;
        color: #3B9E2D;
        height: 30px;
    }

    main>div.subtitulo>div.deportessub {
        color: white;
    }

    /*REPRODUCTOR*/

    main>video {
        border: .5rem solid black;
        border-radius: 1rem;
        display: flex;
        flex: 0 100%;
        width: 80vw;
    }

    main>div#info {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-around;
        align-items: center;
        padding: 1rem 0;
        border: .05rem solid #3B9E2D;
        border-radius: .3rem;
        background-color: #3B9E2D;
        width: 70vw;
    }

    main>div#controles {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        align-items: center;
        padding: 1rem 0;
        border: .05rem solid #3B9E2D;
        border-radius: .3rem;
        background-color: #3B9E2D;
    }

    main>div#controles>img {
        cursor: pointer;
    }

    main>div#controles>* {
        margin-top: .3rem;
    }

    main>div#info>input#barraTiempo {
        flex: 0 70%;
    }

    main>div>* {
        margin: 0 .5rem;
    }

    main button {
        border: 0;
        background-color: #3B9E2D;
        padding: 0;
        transition: .3s linear;
    }

    main button.volumen {
        border: .05rem solid #3B9E2D;
        border-radius: 2rem;
        padding: .2rem;
        font-size: 1.5rem;
    }

    main button:hover {
        cursor: pointer;
        transform: scale(1.1, 1.1);
    }

    input[type=range] {
        -webkit-appearance: none;
    }

    input[type=range]::-moz-range-runnable-track {
        width: 500px;
        height: 5px;
        background: #3B9E2D;
        border: none;
        border-radius: 3px;
    }

    input[type=range]::-webkit-slider-runnable-track {
        width: 500px;
        height: 5px;
        background: lightblue;
        border: none;
        border-radius: 3px;
    }

    input[type=range]::-moz-range-thumb {
        -webkit-appearance: none;
        border: none;
        height: 16px;
        width: 16px;
        border-radius: 50%;
        background: lightcyan;
        margin-top: -5px;
        transition: .2s linear;
    }

    input[type=range]::-webkit-slider-thumb {
        -webkit-appearance: none;
        border: none;
        height: 16px;
        width: 16px;
        border-radius: 50%;
        background: lightcyan;
        margin-top: -5px;
        transition: .2s linear;
    }

    input[type=range]::-moz-range-thumb:hover {
        cursor: pointer;
        transform: scale(1.3, 1.3);
    }

    input[type=range]::-webkit-slider-thumb:hover {
        cursor: pointer;
        transform: scale(1.3, 1.3);
    }

    footer.reg {
        margin-top: 60px;
    }

    /*Ventana CHAT*/
    .kdKNhs {
        visibility: visible;
    }

    /*---- Registro ----*/
    main>div.formulario {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    main>div.formulario>div.campos {
        max-width: 30vw;
        margin-left: 9em;
    }

    /*Imágenes titulo*/
    main>section.imagenes>article.ciudad > span {
        position: relative;
        width: 100%;
        top: 0;
        z-index: 1;
    }
    
    main>section.imagenes>article.ciudad > span.osc {
        visibility: hidden;
    }

    /*Barra lateral, transformación*/
    header>#sidebar {
        display: flex;
        width: 200px;
        height: 100%;
        background: #787575;
        left: -200px;
        transition: all 0.5s ease;
        z-index: 1;
    }

    header>#sidebar.active {
        left: -40px;
    }


    header>#sidebar>ul li {
        color: white;
        list-style: none;
        padding: 15px 10px;
        border-bottom: 1px solid rgba(230, 230, 230, 0.3);
        text-align: center;
        transition: all 0.5s ease;
    }

    header>#sidebar>.toggle-btn {
        position: absolute;
        left: 200px;
        top: 20px;
        cursor: pointer;
    }


    header>#sidebar>.toggle-btn span {
        display: block;
        color: #787575;
        width: 40px;
        text-align: center;
        font-size: 30px;
    }

    header>#sidebar>ul>a {
        text-decoration: none;
    }

    .oscuro {
        opacity: 0.5;
    }

    /*Footer*/
    footer {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 10rem;
        font-family: 'Rubik', sans-serif;
        background: linear-gradient(to right, #787575, #1f1f1f);
    }

    /*  Síguenos y RRSS  */
    footer>div.redes {
        display: flex;
        flex-direction: column;
        color: white;
        height: 50%;
        padding: 1rem;
    }

    footer>div.redes>div.rrss{
        display:flex;
        flex-direction: row;
        justify-content: center;
    }

    footer>div.redes>span {
        text-align: center;
        padding-bottom: 1rem;
    }
}