*{
    box-sizing: border-box;
}

nav{
    display:flex;
}

nav > ul{
    display:flex;
    list-style: none;
    background-color: rgb(202, 202, 202);
    flex: 100%;
    justify-content: start;
    padding: 10px 0;
    border: 2px solid rgb(255, 255, 212);
    border-radius: 10px;
}

nav > ul > li{
    padding:0 5px;
    border-style: hidden;
}

nav > ul > li > a {
    text-decoration:none;
    color:blue;
    border-bottom: 1px solid black;
    border-radius: 20%;
}

nav > ul > li#login{
    display:flex;
    flex:100%;
    justify-content: end;
}