*{
    box-sizing: border-box;
}

div#contenido{
    display: flex;
    flex-direction: column;
}

section#ofertas{
    display: flex;
    flex-direction: column;
}

section#ofertas > article.item-oferta{
    display: flex;
    flex-direction: column;
    margin: 1em 0;
    border: 1px solid black;
    border-radius: 5%;
    align-items: center;
}

section#ofertas > article.item-oferta > h3{
    text-align: center;
    order: 1;
}

section#ofertas > article.item-oferta > img{
    order: 2;
    align-self: center;
}

section#ofertas > article.item-oferta > p{
    order: 3;
    align-self: center;
    margin: 1em;
}

section#ofertas > article.item-oferta > ul{
    order: 4;
}

section#ofertas > article.item-oferta > button.boton-cesta{
    order: 5;
    width: 15rem;
    align-self: center;
    border: 0.5px solid green;
    background-color: rgb(211, 148, 0);
    box-shadow: 0 3px 4px green;
    color:white;
    height: 3rem;
    margin: 2rem;
    margin-top: auto;
}

@media all and (min-width: 600px) {
    div#contenido{
        display:flex;
        flex-direction: column;
    }
    section#ofertas{
        display: flex;
        flex-direction: row;
    }
    section#ofertas > article.item-oferta{
        width: 20em;
        margin: 0.5em;
    }
    section#ofertas > article.item-oferta > p{
        align-self: center;
        margin: 1em;
    }
    section#ofertas > article.item-oferta > button.boton-cesta{
        order: 5;
        width: 15rem;
        align-self: center;
        border: 0.5px solid green;
        background-color: rgb(211, 148, 0);
        box-shadow: 0 3px 4px green;
        color:white;
        height: 3rem;
        margin: 2rem;
        margin-top: auto;
    }
}
  