*{
	box-sizing:border-box;
}
/*Comenzamos con la versión móvil*/

/*Hacemos el cuerpo de la web flexible*/
body{
	display:flex;
	flex-direction: column;

	font-size: 16px;
	color:grey;
}
/*Estilo para todos los enlaces de la web*/
a{
	color:grey;
	text-decoration: none;
}
a:hover{
	cursor:pointer;
	text-decoration: underline;
}
ul{
	list-style: none;
	padding-left: 0;
}
/*Hacemos la cabecera flexible*/
header{
	display:flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	/*La cabecera ocupa todo el ancho de la página*/
	width:100%;
}
/*La hamburguesa la colocamos al principio*/
header > nav#menu-principal{
	order:1;
	
	padding-right: 0.5rem;	
}

#hamburguesa:checked~ul#menu{
	display:none;
  }

header > nav#menu-principal > label > span{
	font-weight: bold;
	font-size: 2rem;
}

/*El input de la hamburguesa tiene que estar oculto*/
header > nav#menu-principal > input#hamburguesa{
	display:none;
}

/*El menu principal es flexible*/
header > nav#menu-principal > ul#menu{
	display:flex;
	flex-direction: column;

	padding: 0.3rem 0;
	border-bottom: 1px solid grey;
}
/*En segunda posición está el buscador*/
header > nav#search{
	order:2;

	font-size: 1.4rem;
}
/*En tercera posición se encuentra el logo*/
header > a#logo{
	order: 3;
	margin:0.5em;

	font-size: 1.4rem;
}

/*El logo de la cabecera tiene un tamaño fijo*/
header img#wonder{
	width:10em;
}

/*En cuarta posición está el icono del usuario de login*/
header > nav#login{
	order: 4;
	font-size: 1.4rem;
}
/*Por último, en quinta posición se encuentra la bolsa de la compra*/
header > nav#bag{
	order:5;
	padding-right: 0.5rem;
	font-size: 1.4rem;
}

/*Hacemos flexible el cuerpo principal*/
main{
	display:flex;
	flex-flow: row wrap;
	align-items: center;
}


/*Los artículos tienen que ser flexibles*/
main > article.item{
	display: flex;
	flex-flow: column wrap;
	align-items: center;
	width:40%;
	margin:1em;
}


main > article.item > * {
	margin-bottom:0.5rem;
	width:100%;
}
/*El párrafo co	width:43%;
	margin:1em;
	margin-top:auto;
}


main > article.item > * {
	margin-bottom:0.5rem;
	width:100%;
}
/*El párrafo con la descripción del artículo va en segundo lugar*/

main > article.item > p{
	order: 2;
	text-align: center;
}
/*Las imágenes de los articulos tienen una anchura relativa*/
/*En la versión de móvil se muestran en filas de 2*/
/*La imagen del artículo aparece en primer lugar*/
main > article.item  img{
	order: 1;
	width:100%;
}
/*El precio va en tercera posición*/
main > article.item > span{
	order:3;
	text-align: center;
	margin-bottom: 1em;
}
/*El botón lo colocamos en última posición*/
main > article.item > input{
	order:4;

	border:0;
	background-color: #92d1c8;
	border-radius: 0.2rem;
	padding:0.5rem;
}
main > article.item > input:hover{
	cursor:pointer;
	background-color: #88c3ba;
}
/*Hacemos el pie flexible*/
footer{
	display:flex;
	flex-direction: column;
	align-items: center;
	margin:1em;
	background-color: rgb(236, 236, 236);
}

/*El menú adicional es flexible y va en segunda posición*/
footer > nav{
	display:flex;
	flex-direction: column;
	align-items: center;
	order: 2;
}
footer > nav > ul#menu-adicional{
	display:flex;
	flex-direction: column;
	align-items: center;
}

/*El menú social hay que hacerlo flexible*/
/*lo colocamos en primer lugar dentro del pie*/
/*El menu social también es flexible*/
footer nav#menu-social-adicional{
	display:flex;
	flex-direction: column;
	order:-1;
	align-items: center;
}
footer nav#menu-social-adicional ul{
	display:flex;
	flex-direction: row;
	align-items: center;
}

footer > nav#menu-social-adicional > ul > li i{
	font-size:1.5rem;
	color: #cda194;
	padding:0 0.5rem;
}
/*El texto del pie va al final*/
footer > small{
	text-align: center;
	order:5;
}

/*VERSIÓN DE ESCRITORIO*/
@media all and (min-width: 1200px) {
	header{
		flex-flow: row wrap;
		justify-content: end;
	}
	
	header > nav#menu-principal > label > span{
		display:none;
	}

	#hamburguesa:checked~ul#menu{
		display:flex;
	  }

	header > nav#menu-principal > ul#menu{
		flex-direction: row;
		justify-content: space-between;
		width:100%;
		padding: 0.3rem 0;
		margin:0;
		border-bottom: 1px solid grey;
	}

	header > nav#menu-principal{
		width:100%;
	}

	header > nav#menu-principal > ul#menu > li{
		margin:0.5rem;
	}

	header > nav#menu-principal{
		order:5;
		margin:1rem;
	}

	header > a#logo{
		order: 4;
		margin:0.5em;
		flex:100%;
	
		font-size: 1.4rem;
	}
	
	header > nav#search{
		order:1;
		margin:0 2rem;
		font-size: 1.4rem;
	}

	header > nav#login{
		order: 2;
		margin:0 2rem;
		font-size: 1.4rem;
	}

	header > nav#bag{
		order:3;
		margin:0 2rem;
		padding-right: 0.5rem;
		font-size: 1.4rem;
	}

	main{
		display:flex;
		flex-flow: row wrap;
		justify-content: space-between;
	}


	main > article.item{
		flex: 0 0 25%;
		align-items: center;
	}


	footer{
		display:flex;
		flex-flow: row wrap;
	}

	footer > nav{
		margin-top: 1rem;
		display:flex;
		width:50%;
		flex-direction: column;
		align-items: center;
		order: 2;
	}

	footer > small{
		text-align: center;
		width:100%;
		margin-bottom:0.5rem;
	}
  }
