* {
    box-sizing: border-box;
  }
  
  body {
    font: 1rem sans-serif;
    background-color: rgba(0, 0, 0, 0.2);
    color: white;
  }
  
  header,
  article,
  nav,
  aside,
  footer {
    border: 4px solid lightgrey;
    padding: 1rem;
    border-radius: 0.5rem;
    text-align: center;
    background-color: #17a3af;
  }
  
  div#contenido > main > article {
    background-color: purple;
    height: 30vh;
  }
  
  div#contenido > main > nav {
    background-color: orange;
    order: -1;
  }
  
  div#contenido > main > aside {
    background-color: lightblue;
  }
  
  div#contenido > main {
    display: flex;
    flex-flow: column;
  }
  
  div#contenido > footer {
    background-color: cornflowerblue;
  }
  
  @media all and (min-width: 768px) {
    div#contenido > main {
      flex-flow: row;
    }
    div#contenido > main > article {
      flex-grow: 3;
    }
    div#contenido > main > nav,
    div#contenido > main > aside {
      flex-grow: 1;
    }
  }
  