*{
    box-sizing: border-box;
}

div.reproductor{
    background-color: #3B9E2D;
    display:flex;
    width: 20rem;
}

div.reproductor > button{
    border:none;
    background-color: #3B9E2D;
    padding:0.5rem;
}

div.reproductor > input#volumen{
    background-color: #3B9E2D;
}

div.reproductor > button > svg.iconos{
    width: 30px;
    height: 30px;
    background-color: #3B9E2D;
}